amqp==5.0.1
asgiref==3.2.10
billiard==3.6.3.0
celery==5.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
CodeConvert==3.0.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.9.2
Django==3.1.2
django-admin==2.0.1
django-celery-beat==2.0.0
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-models-ext==1.1.9
django-redis==4.12.1
django-rest-swagger==2.2.0
django-short-url==1.1.4
django-six==1.0.4
django-timezone-field==4.0
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
furl==2.1.0
idna==2.10
itypes==1.2.0
Jinja2==2.11.2
kombu==5.0.2
Markdown==3.2.2
MarkupSafe==1.1.1
openapi-codec==1.3.2
orderedmultidict==1.0.1
Pillow==7.2.0
prompt-toolkit==3.0.7
psycopg2==2.8.6
pycparser==2.20
PyJWT==1.7.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
screen==1.0.1
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
TimeConvert==1.5.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.10
vine==5.0.0
wcwidth==0.2.5
xlwt==1.3.0
